<a href="https://colab.research.google.com/github/2403A51L47/data-mining/blob/main/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import pandas as pd
import numpy as np

In [102]:
students   = {'student_id' : [1,2,3,4,5],
               'name' : ['A','B','C','D','E']}

scores = {'student_id' : [1,2,3,6,5],
                  'maths_score' : [50,60,70,80,90],
                  'science_score' : [60,70,80,90,100]}

In [103]:
df_students = pd.DataFrame(students)
df_scores = pd.DataFrame(scores)

In [104]:
print(df_students)
print(df_scores)

   student_id name
0           1    A
1           2    B
2           3    C
3           4    D
4           5    E
   student_id  maths_score  science_score
0           1           50             60
1           2           60             70
2           3           70             80
3           6           80             90
4           5           90            100

In [105]:
inner_merge = pd.merge(df_students,df_scores,on = 'student_id',how = 'inner')
print(inner_merge)

   student_id name  maths_score  science_score
0           1    A           50             60
1           2    B           60             70
2           3    C           70             80
3           5    E           90            100

In [106]:
left_merge = pd.merge(df_students,df_scores,on = 'student_id',how = 'left')
print(left_merge)

   student_id name  maths_score  science_score
0           1    A         50.0           60.0
1           2    B         60.0           70.0
2           3    C         70.0           80.0
3           4    D          NaN            NaN
4           5    E         90.0          100.0

In [107]:
right_merge = pd.merge(df_students,df_scores,on = 'student_id',how = 'right')
print(right_merge)

   student_id name  maths_score  science_score
0           1    A           50             60
1           2    B           60             70
2           3    C           70             80
3           6  NaN           80             90
4           5    E           90            100

In [115]:
aggregate_stats = inner_merge[['maths_score', 'science_score']].agg(['mean', 'max', 'min', 'count'])
print("\nAggregate Statistics:\n", aggregate_stats)

Aggregate Statistics:
        maths_score  science_score
mean          67.5           77.5
max           90.0          100.0
min           50.0           60.0
count          4.0            4.0

In [120]:
grouped_stats = inner_merge.groupby('student_id')[['maths_score', 'science_score']].agg(['mean', 'max', 'min'])
print("\nStatistics Grouped by Student:\n", grouped_stats)

Statistics Grouped by Student:
            maths_score         science_score
                  mean max min          mean  max  min
student_id
1                 50.0  50  50          60.0   60   60
2                 60.0  60  60          70.0   70   70
3                 70.0  70  70          80.0   80   80
5                 90.0  90  90         100.0  100  100